<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,114},{70,120}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{70,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{100,122}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{100,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{112,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{112,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run12.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{116,110}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{116,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,116}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{112,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{94,118}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{94,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run15.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,236},{70,118}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{70,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,226},{74,120}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{74,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{86,118}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{86,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,336},{92,112}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{92,112}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,236},{98,110}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{98,110}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,114},{92,118}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{92,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,348},{76,120}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{76,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,104},{74,120}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{74,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,356},{84,120}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{84,120}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boys.png</string>
            <key>size</key>
            <string>{358,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f14d7dc373bdab84ab9e0924699e1ed:1/1$</string>
            <key>textureFileName</key>
            <string>boys.png</string>
        </dict>
    </dict>
</plist>
